*.asv
*.jpg*.gif
*.pdf
*.pptx
*.gif
/nnTrainSets/nnDetermineControlType_X_Target/fullWithLabels.mat
/nnTrainSets/nnDetermineControlType_X_Target_Highvar/fullWithLabels.mat
/nnTrainSets/nnDetermineControlType_X_Target_Highvar/fullWithLabelsH.mat


