*.asv
*.jpg*.gif
*.pdf
*.pptx
*.gif
/nnTrainSets/nnDetermineControlType_X_Target/fullWithLabels.mat
/nnTrainSets/nnDetermineControlType_X_Target_Highvar/fullWithLabels.mat
/nnTrainSets/nnDetermineControlType_X_Target_Highvar/fullWithLabelsH.mat
/nnTrainSets/nnDetermineControlType_X_Target_Highvar/net.mat
/nnTrainSets/nnDetermineControlType_X_Target_Highvar/fullWithLabelsH15.mat
/nnTrainSets/nnDetermineControlType_X_Target_aLd/full.mat
/nnTrainSets/nnDetermineControlType_X_Target_aLd/fullWithLabels.mat
